<div class="alert alert-secondary" role="alert">
  <div>Welcome to the application for the GT education program. Just fill the form if you want to apply for the program. If you want more information before applying or have questions about this application, please contact us at <a href="mailto: info@gteducorp.com">info@gteducorp.com</a></div>
  <%= render 'static_pages/deadline' %>
  <div><b>If you want to apply you need to complete two steps</b>:</div>
  <ol>
    <li>Sign up and Log in</li>
    <li>Fill in the application with personal information, contacts, professional and academic infromation</li>
  </ol>
</div>