<div class="basic-page">
  <h1><%=t :nav_about_us %></h1>
  <div>Email: <a href="mailto: info@gteducorp.com">info@gteducorp.com</a></div>
  <div>Telegram group: <a href="https://t.me/joinchat/B3TqnEQEhX7QW2hYoock1g">JOIN</a> </div>
</div>
