<div class="basic-page">
  <h1><%=t :nav_about_us %></h1>
  <div class="row">
    <div class="col-lg-4">
      <div>Email: <a href="mailto: info@gteducorp.com">info@gteducorp.com</a></div>
      <div>Telegram: <a href="https://t.me/joinchat/B3TqnEQEhX7QW2hYoock1g">Click to join group</a> or Scan QR-code:</div>
      <div><%= image_tag "telegram_invite.jpg", class: "img-fluid" %></div>
    </div>
  </div>
</div>
