<div class="basic-page">
  <h1>Apply</h1>
  <div>Welcome to the application for the GT education program. Just send this form if you want to apply for the program. If you want more information before applying or have questions about this application, please contact us at info@XXXX.XXX</div>
  <%= render 'deadline' %>
  <br/>
  <h2>TODO: make form with following information</h2>
  <h3>Personal Information</h3>
  <ol>
    <li>First name</li>
    <li>Second name</li>
    <li>Last name</li>
    <li>Full name as it appears on your passport</li>
    <li>Preferred name</li>
    <li>Country of Citizenship</li>
    <li>Address of the street (maximum 60 characters)</li>
    <li>City</li>
    <li>Country</li>
    <li>State</li> 
    <li>Postal Code</li>
    <li>Telephone number (numbers only, without symbols)</li>
    <li>Email address</li>
    <li>Re-enter your email address</li>
    <li>What is your native language?</li>
  </ol>
  <h3>Professional and Academic Information</h3>
  <ol>
    <li>Highest grade</li>
    <li>University of highest degree</li>
    <li>Graduation Year</li>
    <li>Actual position</li>
    <li>Current Institution</li>
    <li>Specialty</li>
  </ol>
  <h3>Documents</h3>
  <div>Please upload the following documents as PDF files. (All documents must be submitted in English):</div>
  <ul>
    <li>Curriculum Vitae</li>
    <li>Letter of Intent (Why are you interested in this course? What are your goals? How will this further your career?) Maximum one page.</li>
    <li>The professional photo clearly showing your face – this will be used for the program website. You can always change it later on the website.</li>
</ul>
</div>
