<div class="basic-page">
  <h1><%=t :nav_events %></h1>
  <div class="row">
    <div class="col-lg-6">
      <div class="event-item">
        <div class="event-item__title">
          First Orientation
        </div>
        <div class="event-item__date">
          September 16, 2017
        </div>
        <div class="event-item__image">
          <%= image_tag 'IMG_20170916_162012.jpg', class: "img-fluid" %>
        </div>
        <div class="event-item__text">
          At saturday we had our first orientation. Almost 40 students were interested and visited the event. 
        </div>
      </div>
    </div>
  </div>
</div>
