.event-item {
}

.event-item__title {
  font-size: 2rem;
}

.event-item__date {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.event-item__image {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
