.gallery-item {
}

.gallery-item__title {
  font-size: 2rem;
}

.gallery-item__date {
  font-style: italic;
  margin-bottom: 0.5rem;
}

.gallery-item__video {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.gallery-item__image {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
