.starter-template {
  padding-top: 0.5rem;
  text-align: center;
  h1 {
    margin-top: 0.5rem;
  }
}

.logo-home {
  margin-bottom: 1rem;
}

.home-block-info {
  margin-top: 2rem;
}

.home-block-info__button-link {
  text-align: center;
  margin: 1rem;
}
