// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  // padding-top: 5rem;
  margin-top: 5rem;
}

.bg-dark {
  background-color: #007bb3 !important;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-dark .navbar-nav a.nav-link {
  color: rgba(255, 255, 255, 0.75);
  &:hover {
    color: white;
  }
}

.basic-page {
}

.basic-page__block {
  margin-top: 1rem;
}

.basic-page__table {
  margin-top: 1rem;
}

.basic-page__apply-button {
  text-align: center;
  margin: 1rem;
}

.deadline {
  font-size: 1rem;
}
